<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dafy.dev.test.provider.orm.BrandMapper" >
  <resultMap id="BaseResultMap" type="com.dafy.dev.test.provider.pojo.Brand" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="brand_name" property="brandName" jdbcType="VARCHAR" />
    <result column="brand_logo" property="brandLogo" jdbcType="VARCHAR" />
    <result column="brand_desc" property="brandDesc" jdbcType="VARCHAR" />
    <result column="site_url" property="siteUrl" jdbcType="VARCHAR" />
    <result column="sort_order" property="sortOrder" jdbcType="INTEGER" />
    <result column="is_show" property="isShow" jdbcType="BIT" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, brand_name, brand_logo, brand_desc, site_url, sort_order, is_show, state, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_brand
    where id = #{id}
  </select>
  <insert id="insert" parameterType="com.dafy.dev.test.provider.pojo.Brand" >
    insert into t_brand (id, brand_name, brand_logo, brand_desc, site_url, sort_order, 
      is_show, state, create_time, update_time)
    values (#{id}, #{brandName}, #{brandLogo}, #{brandDesc}, #{siteUrl}, #{sortOrder}, 
      #{isShow}, #{state}, #{createTime}, #{updateTime})
  </insert>
  <insert id="insertSelective" parameterType="com.dafy.dev.test.provider.pojo.Brand" >
    insert into t_brand
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="brandName != null" >
        brand_name,
      </if>
      <if test="brandLogo != null" >
        brand_logo,
      </if>
      <if test="brandDesc != null" >
        brand_desc,
      </if>
      <if test="siteUrl != null" >
        site_url,
      </if>
      <if test="sortOrder != null" >
        sort_order,
      </if>
      <if test="isShow != null" >
        is_show,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="brandName != null" >
        #{brandName},
      </if>
      <if test="brandLogo != null" >
        #{brandLogo},
      </if>
      <if test="brandDesc != null" >
        #{brandDesc},
      </if>
      <if test="siteUrl != null" >
        #{siteUrl},
      </if>
      <if test="sortOrder != null" >
        #{sortOrder},
      </if>
      <if test="isShow != null" >
        #{isShow},
      </if>
      <if test="state != null" >
        #{state},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="updateTime != null" >
        #{updateTime},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dafy.dev.test.provider.pojo.Brand" >
    update t_brand
    <set >
      <if test="brandName != null" >
        brand_name = #{brandName},
      </if>
      <if test="brandLogo != null" >
        brand_logo = #{brandLogo},
      </if>
      <if test="brandDesc != null" >
        brand_desc = #{brandDesc},
      </if>
      <if test="siteUrl != null" >
        site_url = #{siteUrl},
      </if>
      <if test="sortOrder != null" >
        sort_order = #{sortOrder},
      </if>
      <if test="isShow != null" >
        is_show = #{isShow},
      </if>
      <if test="state != null" >
        state = #{state},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dafy.dev.test.provider.pojo.Brand" >
    update t_brand
    set brand_name = #{brandName},
      brand_logo = #{brandLogo},
      brand_desc = #{brandDesc},
      site_url = #{siteUrl},
      sort_order = #{sortOrder},
      is_show = #{isShow},
      state = #{state},
      create_time = #{createTime},
      update_time = #{updateTime}
    where id = #{id}
  </update>
  <select id="search" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_brand
    where id = #{id}
      and brand_name = #{brandName}
      and brand_logo = #{brandLogo}
      and brand_desc = #{brandDesc}
      and site_url = #{siteUrl}
      and sort_order = #{sortOrder}
      and is_show = #{isShow}
      and state = #{state}
      and create_time = #{createTime}
      and update_time = #{updateTime}
  </select>
</mapper>